Source: sigram
Section: text
Priority: optional
Maintainer: Sialan Labs <contact@sialan.org>
Build-Depends:
 debhelper (>= 8.0.0),
 g++ (>= 4:4.7),
 gcc (>= 4:4.7),
 qtbase5-dev (>= 5.2.0),
 libqt5sql5-sqlite (>= 5.2.0),
 libqt5multimediaquick-p5 (>= 5.2.0),
 libqt5multimedia5-plugins (>= 5.2.0),
 libqt5multimedia5 (>= 5.2.0),
 qtchooser,
 qt5-qmake,
 qt5-default,
 libqt5qml5 (>= 5.2.0),
 libqt5qml-graphicaleffects (>= 5.2.0),
 libqt5qml-quickcontrols (>= 5.2.0),
 qtdeclarative5-dev (>= 5.2.0),
 libqt5quick5 (>= 5.2.0),
 libqt5sensors5-dev (>= 5.2.0),
 libqt5positioning5 (>= 5.2.0),
 qtpositioning5-dev (>= 5.2.0),
 qtmultimedia5-dev (>= 5.2.0)
Standards-Version: 3.9.5
Homepage: http://labs.sialan.org
Vcs-Git: git://git@github.com:sialan-labs/sigram.git
Vcs-Browser: https://github.com/sialan-labs/sigram/

Package: sigram
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt5sensors5-dev (>= 5.2.0), libqt5sensors5 (>= 5.2.0), libqt5qml-quickcontrols (>= 5.2.0), libqt5qml-graphicaleffects (>= 5.2.0), libqt5positioning5 (>= 5.2.0), libqt5multimedia5 (>= 5.2.0), libqt5multimedia5-plugins (>= 5.2.0), libqt5multimediaquick-p5 (>= 5.2.0), libqt5sql5-sqlite (>= 5.2.0), qtdeclarative5-qtmultimedia-plugin (>= 5.2.0), qtdeclarative5-qtsensors-plugin (>= 5.2.0), qtdeclarative5-qtmultimedia-plugin (>= 5.2.0), qtdeclarative5-qtpositioning-plugin (>= 5.2.0), dconf-tools
Description: Kaqaz modern note manager
 Kaqaz is not just an application. It is more like a theory; 
 a theory on which much time has been spent in Sialan Lab to 
 be designed and implemented. 
 Kaqaz is a modern note manager published by Sialan Lab. 
 The focus of Kaqaz is on a better user interface so that the 
 user can feel a different experience with it. Kaqaz has 
 tried to provide faster access bars and present a convenient 
 interface for the users to have an enjoyable time while 
 working on it. Kaqaz is a free and open source software 
 written under GPLv3 license. 
