[Desktop Entry]
Categories=Network;Application;
Comment=Sigram, Sialan Telegram VoIP and messenger
Exec=/opt/sialan/sigram/Sigram
GenericName=Sialan Telegram client
Icon=sigram
Name=Sigram
StartupNotify=true
Type=Application
Version=0.7.1
