%includes
%classes

static bool initialize() {
%intializes
    qmlRegisterType<PhotoSizeList>("SigramTypes", 1, 0, "PhotoSizeList");
    qRegisterMetaType<PhotoSizeList*>("PhotoSizeList*");
    
    qmlRegisterType<ChatParticipantList>("SigramTypes", 1, 0, "ChatParticipantList");
    qRegisterMetaType<ChatParticipantList*>("ChatParticipantList*");
    
    return true;
}
static bool initialized = initialize();
