class %nameObject : public QObject
{
    Q_OBJECT
%properties
public:
    %nameObject(const %name & another, QObject *parent = 0) : QObject(parent){
        (void)another;
%presets
    }
    %nameObject(QObject *parent = 0) : QObject(parent){}
    ~%nameObject(){}

%body

    void operator= ( const %name & another) {
%equals
    }

signals:
    void changed();
%notifies
private:
%variables
};

Q_DECLARE_METATYPE(%nameObject*)

%next